body {
  /* this is completely pointless
    but it's snow... for game of thrones :P */
  background-color: snow;
}

/*=====================GLOBAL====================*/

/* this is just getting rid of some margins in the headers. */
h1, h2, h3{
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.card {
  /* positioning */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: auto;

  /* visuals */
  background-color: darkslategray;
  border: solid 0.5rem;
  border-color: darkred;
}
.card-elements {
  /* positioning */
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin: 0 auto 0 auto;  

  /* size */
  max-width: 80%;

  /* visuals */
  background-color: darkslategray;
  font-size: medium;
}
.card-image{
  width: 80%;
  height: auto;
  max-width: 200px;
  margin: auto;
}

#search-container{
  display: flex;
  flex-flow: row wrap;
}
/*=====================VERY SMALL================*/
@media (max-width: 320px) {
  body{
    padding: 0;
    margin: 0;
  }
  .card {
    /* center */
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    padding: 0;
  }
  .card-elements {
    font-size: 16px;
  }
  .card-heading,
  .card-sub-heading {
    font-size: 18px;
    margin: 0;
  }
  .card-image {
    visibility: hidden;
    max-width: 0;
    max-height: 0;
  }
  .card-para{
    visibility: hidden;
    max-width: 0;
    max-height: 0;
  }
}

/*=====================SMALL=====================*/
@media (max-width: 420px) {
  body{
    padding: 0;
    margin: 0;
  }
  .card {
    /* center */
    width: 60%;
    margin: auto;
    margin-bottom: 5vmax;
    padding: 0;
  }
  .card-elements {
    font-size: 16px;
  }
  .card-heading,
  .card-sub-heading {
    font-size: 18px;
    margin: 0;
  }
  .card-image{
    max-width: 100vmax;
    margin: auto;   
  }
  .card-para{
    visibility: hidden;
    max-width: 0;
    max-height: 0;
  }
}

/*=====================MOBILE====================*/
/* 
        this does not cover the smaller
        width phones like folding phones 
*/
@media (min-width: 500px) {
  .card {
    /* size */
    width: 80%;
  }
  .card-elements {
    /* size */
    width: 80%;
  }
}

/*=====================DESKTOP===================*/
